
body{
    margin: 0;
    background-color: rgb(244, 254, 255);
}

form {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* width: 40rem;
    margin:-500px auto;
    background-color: rgb(246, 250, 255);
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0,0,0.2);
    background-color: white; */
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}


header h1{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 45px;
    padding: 20px;
/*     background-color:rgb(87, 20, 255); */
    background: linear-gradient(45deg, rgb(40, 11, 113), rgb(87, 20, 255), rgb(40, 11, 113));
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 3px rgba(22, 22, 22, 0.4); 
    text-transform: uppercase;
}

#input {
    height: 800px;
    background-image: url("/1393719.webp");
    background-position: center;
    background-size: cover;
}
#form-content{
    width: 650px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(230, 234, 255, 0.9);
    box-shadow: 2px 4px 8px rgb(68,67,67);
    border-radius: 8px;
   
    padding: 50px 50px;
    margin: 0 auto;
    position: relative;
    top: 200px;
}

li {
    padding: 15px;
}

/* #input{
    font-family: 'Roboto',sans-serif;
    text-align: left;
    margin: 0;
    padding: 50px 20px 50px 20px;
    font-size: 18px;
    box-shadow: 0px 1px 9px rgba(120, 164, 164, 0.4);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
} */

button{
    font-size: 18px;
    border: 0px solid;
    border-radius: 5px;
    margin: 15px 25px;
    padding: 8px 10px 8px 10px;
    background-color: rgb(87, 20, 255);
    color: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
button:hover{
    background-color: rgb(44, 0, 156);
}

input{
    width: 150px;
    font-size: 18px;
    border: 1px solid;
    border-radius: 5px;
    margin: 5px;
    padding: 6px 8px 6px 8px;
    background-color: rgb(230, 234, 255);
    margin: 5px 25px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}

input:hover{
    background-color: rgba(87, 20, 255, 0.192);
    border-color: rgb(87, 20, 255);
}
